.popular-list-container {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .popular-list {
    margin-bottom: 20px;
  }
  
  .popular-list-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popular-card-container {
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateX(-50%);
  
  padding-left: 55%;
    
    
  }
  
  .popular-card-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(-50%);
    
  padding-left: -55%;
    
    
  }
  
  /* .popular-card1 {
    width: 270px;
    margin-left: -30%;
   
    
  }
  
  
  
  .popular-card1 img {
    width: 150px;
    height: 200px;
    object-fit: cover; 
    
    
  } */

  .popular-card {
    /*136px -30%*/
    width: 136px;
    margin-left: -30%;
   
    
  }
  
  
  
  .popular-card img {
    width: 150px;
    height: 200px;
    object-fit: cover; 
    border: 1px solid white;
    
    
  }

  /* .popular-card2 {
    width: 150px;
    margin: 0 10px 20px;
    box-sizing: border-box; 
    
  }
  
  .popular-card2 img {
    width: 100px;
    height: 150px;
    object-fit: cover; 
  } */
  
  
  .flex-container {
    display: flex;
  }
  .popular-card-wrapper {
    margin-right: 20px;
  }
  
  
  .popular-list-title {
    position: relative;
    border-bottom: 3px solid white;
    /* margin-left: 5%; */
   
    padding-bottom: 2px;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  
  .popular-list-more{
    
    font-size: 16px;
  font-weight: bold;
  float: right;
  box-sizing: border-box;
  
  }
  .title{
    text-align: center;
    color: white;
    font-size: 16px;
  }

  .list-name{
    display: flex;
    
    
  }
  /* .list1 p{
    text-align: start;
    color: white;
     margin-left: -150%; 
   width: 100%;
   transform: translateX(-140%);
   margin-left: auto;
  }
  .list2 p{
    text-align: start;
    color: white;
    /* margin-left: 150%; 
    width: 100%;
    transform: translateX(105%);
    margin-left: auto;

  } */

  
  